body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;               
}
.marco{
    height: 70%;
    width: 60%;
    background-color: antiquewhite;
    border-radius: 10px;
    text-aling: center;
    border: 3px solid black;
    position: relative;
}

h2{
    background-color: rgb(214, 153, 168);
    height: 50px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.fila1 {
  display: flex;
  align-items: flex-end;
  gap: 20px; 
  margin-top: 20px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.primeralinea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .primeralinea input{
        width: 300px;
    }

    .fila2{
        display: flex;
        align-items: flex-end;
        align-items: flex-start;
        gap: 20px;
        margin-left: 10px;
        
    }
    .segundalinea{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    }
    .segundalinea input{
        width: 500px;
    }
    .fila3{
        display: flex;
        align-items: flex-end;
        align-items: flex-start;
        gap: 20px;
        margin-left: 10px;
    }
    .terceraquinientos{
        width: 500px;
    }
    .terceralineados input{
        width: 250px;
    }
    
    .fila4 input{
    height: 100px;
    width: 516px;
    }
    .fila4{
        position: relative;
        left: 540px;
    }
    input{
        height: 20px;
    }
    .cancel{
        background-color: gray;
        height: 50px;
        width: 80px;
        border-radius: 15%;
    }
    .cancel p{
        color: white;
    }
    .send p{
        color: white;
    }
    .send{
        background-color: rgb(27, 122, 201);
        height: 50px;
        width: 80px;
        border-radius: 15%;
    }
    .buttoms{
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        gap: 10px;
    }
    .metododepago{
        display: flex;
        flex-direction: column;
        width: 10rem;
    }    
    

    .container{
        width: 90%;
        max-width: 9em;
        height: 2.5em;
        position: relative;
        }
        .form_input{
            position: absolute;
            height: 100%;width 100%;
            background: black;
            border: 2px solid aqua;
            border-radius: 0.5em;
            outline: none;
            color: aqua;
            padding-left: 1em;
          }
          label{
            position: absolute;
            background: black;
            color: aqua;
            font-family: sans-serif;
            left: 1em;
            top: 0.75em;
            cursor: text;
            transition: top 350ms ease-in;
            font-size: 350ms ease-in;
          }
          .form_input:hover{
            border: 2px solid aqua;}
            .form_input:focus{
                border: 2px solid rgb(253, 152, 250);
            }
            input[type="text"]:focus ~ label,
            .form_imput:not(:placeholder-shown)
            .form_input:not(:focus)~ label{
                top: 0.5em;
                font-size: 0.75rem;
                padding: 0 0.125em;
            }